*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background-color: #f0f0f0;
}

nav{
    width: 100%;
    position: fixed;
    top:0px;
    background-color: rgb(87, 87, 241);
    color:white;
}

ul{
    list-style-type: none;
}

.list_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 20px 30px;
    font-weight: 500;
}

.Name_project{
    display: flex;
    font-size: 1.45em;
    align-items: center;
}
.Name_project a{
    text-decoration: none;
    color: white;
}

.Name_project i{
    width: 35px;
    margin-left:0px
}
.Name_project span{
    padding-left: 10px;
}

.logout{
    font-size: 1.2em;
    text-transform:uppercase;
    margin: auto 0;
}

.logout a{
    text-decoration: none;
    color: white;
}


